@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@layer base {
  h1 {
    @apply text-3xl font-bold my-3;
  }
  h2 {
    @apply text-2xl font-bold my-3.5;
  }
  h3 {
    @apply text-xl font-semibold my-4;
  }
  h4 {
    @apply text-lg font-semibold my-5;
  }
  h5 {
    @apply text-base font-semibold my-6;
  }
  h6 {
    @apply text-base font-semibold my-7;
  }
  p {
    @apply text-base my-4;
  }
}

@layer primevue{
  
}

/* Set for input validation text */
.redText {
  color: #ff0000;
}

/* Set for the hidden input, to get focus, so the component will not focus on close icon when open */
.focus-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Set for the rsponsive toast */
.toast {
  @apply w-4/5 sm:w-3/5 md:w-2/5 lg:w-96;
}


/* Set for the responsive dialog (large dialog) */
.dialog {
  @apply w-4/5 sm:w-3/5 md:w-3/5 lg:w-2/5;
}


/* Set for the responsive sidebar */
.sidebar {
  @apply w-4/5 sm:w-3/5 md:w-2/5 lg:w-80;
}

/* Set for the small dialog (input dialog) */
.small-dialog {
  @apply w-4/5 sm:w-3/5 md:w-2/5 lg:w-25rem;
}

/* Notification confirm popup */
.notification-popup {
  @apply w-3/5 sm:w-80 md:w-64 lg:w-60;
}

/* To apply style to the Card component which is the main content container */
.main-content-card {
  @apply m-5 rounded-none;
}

/* For content (expense, budget webpage) responsive toolbar */
.content {
  @apply w-full sm:w-4/5;
}

/* To control the total expense chart */
.total-expense-chart {
  @apply w-full md:w-4/5 lg:w-3/5;
}

/* The responsive flex for total expense chart */
.total-expense-chart-center {
  @apply md:flex md:justify-center;
}

/* For the responsive dashboard charts */
.dashboard-charts {
  @apply overflow-x-auto sm:overflow-hidden;
}
